/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
}

/******************************************
/* LAYOUT
/*******************************************/
header {
}
body {
  background: black;
}
h1,
h2,
div {
  text-align: center;
  color: goldenrod;
}

div {
  margin-top: 10vh;
}
section.chooseCharacter,
.characterCard,
.characterBlurb {
  display: flex;
  align-items: center;
}
section.chooseCharacter {
  justify-content: space-around;
}
.characterCard,
.characterBlurb,
body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}
footer {
}
.characterBlurb > h1,
p {
  text-decoration-color: gold;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
