<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <!--Header -->
    <h1>Prophet</h1>

    <section class="chooseCharacter">
      <section class="characterCard">
        <img src="/images/prophet.png" id="prophet" />
      </section>
      <section class="characterBlurb">
        <h2 id="savedCharacterName"></h2>
        <p></p>
        <div class="abilityScoreBlock">
          <h3>Strength</h3>
          <div class="str"></div>
          <h3>Dexterity</h3>
          <div class="dex"></div>
          <h3>Constitution</h3>
          <div class="con"></div>
          <h3>Intelligence</h3>
          <div class="int"></div>
          <h3>Wisdom</h3>
          <div class="wis"></div>
          <h3>Charisma</h3>
          <div class="cha"></div>
          <h3>Hit Points</h3>
          <div class="hp"></div>
        </div>
      </section>
    </section>

    <script type="text/javascript" src="/js/main.js"></script>
  </body>
</html>
