<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <!--Header -->


    <section class="chooseCharacter">
      <section>
        <section class="characterCard">
        <img src="/images/astrologer.png" id="astrologer" />
        </section>
      <section class="characterBlurb">
          <h2 id="savedCharacterName"></h2>
          <p>
            A scholar who reads fate in the stars.<br />
            Heir to the school of glintstone sorcery.
          </p>
      </section>
      </section>

      <section>
        <div class="abilityNames">
          <h3 >Ability Scores</h3>
          <h3 >Dexterity</h3>
          <h3 >Strength</h3>
          <h3 >Constitution</h3>
          <h3 >Intelligence</h3>
          <h3 >Wisdom</h3>
          <h3 >Charisma</h3>
          <h3 >Hit Points</h3>
        </div>
        <div class="scoreValues">
          <h3 id="reRoll">ReRoll</h3>
          <h3 id="str"></h3>
          <h3 id="dex"></h3>
          <h3 id="con"></h3>
          <h3 id="int"></h3>
          <h3 id="wis"></h3>
          <h3 id="cha"></h3>
          <h3 id="hp"></h3>
        </div>
      </section>
    </section>

    <script type="text/javascript" src="/js/main.js"></script>
  </body>
</html>
