<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <!--Header -->
    <h1>Astrologer</h1>

    <section class="chooseCharacter">
      <section class="characterCard">
        <img src="/images/prophet.png" id="prophet" />
      </section>
      <section class="characterBlurb">
        <h2 id="savedCharacterName"></h2>
        <p>
          A scholar who reads fate in the stars.<br />
          Heir to the school of glintstone sorcery.
        </p>
      </section>
    </section>

    <script type="text/javascript" src="/js/main.js"></script>
  </body>
</html>
