<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <!--Header -->
    <h1>Astrologer</h1>

    <section class="chooseCharacter">
      <section class="characterCard">
        <img src="/images/astrologer.png" id="astrologer" />
      </section>
      <section class="characterBlurb">
        <h2 id="savedCharacterName"></h2>
        <p>
          A scholar who reads fate in the stars.<br />
          Heir to the school of glintstone sorcery.
        </p>
        <div class="abilityScoreBlock">
          <h3>Strength</h3>
          <div id="str"></div>
          <h3>Dexterity</h3>
          <div id="dex"></div>
          <h3>Constitution</h3>
          <div id="con"></div>
          <h3>Intelligence</h3>
          <div id="int"></div>
          <h3>Wisdom</h3>
          <div id="wis"></div>
          <h3>Charisma</h3>
          <div id="cha"></div>
          <h3>Hit Points</h3>
          <div id="hp"></div>
        </div>
      </section>
    </section>

    <script type="text/javascript" src="/js/main.js"></script>
  </body>
</html>
