/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
}

/******************************************
/* LAYOUT
/*******************************************/
header {
}
body {
  background: black;
}
ul {
  list-style:none; 
  justify-content: space-evenly;
  padding-left: 0px;
}
li{
  display: inline-flex;
}
h1 {
  margin: 5vh 0 7vh 0vh;
}
h1,
h2 {
  text-align: center;
  color: goldenrod;
}
div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
ul.chooseCharacter,
.characterCard,
.characterBlurb {
  display: flex;
  align-items: center;
}
section.chooseCharacter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10vh 0vh;
}
ul.chooseCharacter {
  margin: 10vh 0vh;
}

section:nth-child(2) h3 {
  padding: 0.25em 1em;
  height: 100%;
  width: 100%;
}
section:nth-child(2) {
  display: flex;
  padding-left: 01em;
}
.characterCard,
.characterBlurb,
body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}
footer {
}
.characterBlurb > h1,
p {
  text-decoration-color: gold;
  align-items: center;
}
.submitChoice {
  margin-top: 5vh;
  border: 2px solid goldenrod;
  background-color: rgb(35, 35, 35);
  color: goldenrod;
}
.abilityNames h3,.scoreValues h3{
  color: goldenrod;
  background-color: rgba(218, 165, 32, 0.352);
} 
.characterBlurb p {
  color: goldenrod;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
